<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center">
      <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h1 class="mt-2 mb-3">this is today' Weather</h1>
              <form action="/checkBySelect" method="post">
                <select
                  class="form-select"
                  name="cityId"
                  aria-label="Default select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1809858">Guangzhou</option>
                  <option value="1816670">Beijing</option>
                  <option value="1795565">Shenzhen</option>
                </select>
                <button type="submit" class="mt-2 btn btn-primary mb-3">
                  Confirm city
                </button>
              </form>

              <form id="myForm" action="/check" method="POST" class="mt-2 mb-3">
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="longitude"
                        name="longitude"
                        placeholder="Enter longitude"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="latitude"
                        name="latitude"
                        placeholder="Enter latitude"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      onclick="submitForm()"
                    >
                      Check Location And Weather
                    </button>
                  </div>
                </div>
              </form>

              <% if (weather.description) { %>

              <h2>Today <%= weather.description %></h2>
              <% } %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id="openweathermap-widget-11" class="mt-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="checkLocation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js"></script>
    <script>
      window.myWidgetParam ? window.myWidgetParam : (window.myWidgetParam = []);
      window.myWidgetParam.push({
        id: 11,
        cityid: "6942153",
        appid: "8276314d7d4cbd0fefbd69d4292a9190",
        units: "metric",
        containerid: "openweathermap-widget-11",
      });
      (function () {
        var script = document.createElement("script");
        script.async = true;
        script.charset = "utf-8";
        script.src =
          "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(script, s);
      })();
    </script>
  </body>
</html>
